<a href="https://colab.research.google.com/github/venussar/Positional-Astronomy-Algorithms/blob/main/PARCIAL_ASTRO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CAROLINA ANDREA RODAS CASTAÑEDA

PUNTO A Y B

In [ ]:
import pandas as pd
import numpy as np

# Datos de las estaciones
datos = {
    "Estacion": ["A", "B", "C", "D", "E", "F"],
    "Ciudad/Pais": ["La Serena, Chile", "Dakar, Senegal", "Canarias, Espana",
                    "Munich, Alemania", "Sutherland, Sudafrica", "Siding Spring, Australia"],
    "Latitud": [-29.9, 14.7, 28.3, 48.14, -32.38, -31.27],
    "Longitud": [-71.25, -17.45, -16.5, 11.58, 20.81, 149.07],
    "Altitud_m": [29, 27, 2390, 520, 1450, 1165]
}

# Crear el DataFrame usando pandas
tabla = pd.DataFrame(datos)

# Mostrar la tabla
print(tabla)

  Estacion               Ciudad/Pais  Latitud  Longitud  Altitud_m
0        A          La Serena, Chile   -29.90    -71.25         29
1        B            Dakar, Senegal    14.70    -17.45         27
2        C          Canarias, Espana    28.30    -16.50       2390
3        D          Munich, Alemania    48.14     11.58        520
4        E     Sutherland, Sudafrica   -32.38     20.81       1450
5        F  Siding Spring, Australia   -31.27    149.07       1165

PUNTO C

FORMULAS UTILIZADAS SACADAS DEL LIBRO GUIA

In [ ]:
# WGS84   #Parametros que necesito
a = 6378137             # el semieje mayor
f = 1 / 298.257       #  el achatamiento

In [ ]:
def Geo(latitud, altura):
    # Convertimos a radianes (las funciones trigonometricas usan radianes)
    latitudRad = np.radians(latitud)

    latitudGeo= np.arctan((1-f)**2 * np.tan(latitudRad)) #pasamos a latitud geocentrica
    #calculamos la excentridad del elipsoide
    e= np.sqrt(f *(2-f))

    Ro = a * np.sqrt((1 - e**2 * (2 - e**2) * np.sin(latitudRad)**2) / #Distancia radial
                     (1 - e**2 * np.sin(latitudRad)**2))
    altura= altura + Ro #le sumamos la altura inicial

    return latitudGeo, altura

In [ ]:
# Datos de las estaciones, hacemos una tupla con 4 elementos cada una
estaciones = [("La Serena, Chile", -29.9, -71.25, 29),("Dakar, Senegal", 14.7, -17.45, 24),("Canarias, Espana", 28.3, -16.5, 2390),("Munich, Alemania", 48.14, 11.58, 520),
    ("Sutherland, Sudafrica", -32.38, 20.81, 1450),
    ("Siding Spring, Australia", -31.27, 149.07, 1165)
]

In [ ]:
for nombre, lat, lon, h in estaciones: #hacemos un for que pueda iterar en cada elemento en la lista estaciones
    lat_geo, Ro = Geo(lat,h) #llamamos a la funcion


    print(nombre, "\n") # Imprime el nombre de la estacion
    print(f"  Latitud Geocéntrica = {np.degrees(lat_geo):.3f}°") #convertimos a grados
    print(f"  Longitud = {lon:.3f}°")  # mantenemos la longitud original
    print(f"  Distancia Radial = {Ro:.3f} m\n") #.3f redondea a 3 decimales

La Serena, Chile

  Latitud Geocéntrica = -29.734°
  Longitud = -71.250°
  Distancia Radial = 6372885.571 m

Dakar, Senegal

  Latitud Geocéntrica = 14.606°
  Longitud = -17.450°
  Distancia Radial = 6376794.749 m

Canarias, Espana

  Latitud Geocéntrica = 28.140°
  Longitud = -16.500°
  Distancia Radial = 6375751.792 m

Munich, Alemania

  Latitud Geocéntrica = 47.949°
  Longitud = 11.580°
  Distancia Radial = 6366839.412 m

Sutherland, Sudafrica

  Latitud Geocéntrica = -32.206°
  Longitud = 20.810°
  Distancia Radial = 6373490.641 m

Siding Spring, Australia

  Latitud Geocéntrica = -31.100°
  Longitud = 149.070°
  Distancia Radial = 6373575.476 m

PUNTO D

In [ ]:

 #######ESTE CODIGO FUE USADO EN LA TAREA ENVIADA ANTERIORMENTE EN EL CALCULO DE DISTANCIAS##########


def distancia(lat1, lon1, lat2, lon2):
    R = 6371.0

    lat1_rad = np.radians(lat1)
    lat2_rad = np.radians(lat2)
    lon1_rad = np.radians(lon1)
    lon2_rad = np.radians(lon2)


    if (lon1 * lon2) > 0: #si estan en el mismo hemisferio en longitud resto

        AnguloC = abs(lon1 - lon2)
    elif (abs(lon1) + abs(lon2)) <= 180: # si estan en hemsferios diferentes sin cruzar el antimeridiano sumo

        AnguloC = abs(lon1) + abs(lon2)
    else:
        AnguloC = 360 - (abs(lon1) + abs(lon2)) #si cruzo el antimeridiano


    AnguloCRAD = np.radians(AnguloC)

    # Teorema del coseno esferico
    C = np.sin(lat1_rad) * np.sin(lat2_rad) + np.cos(lat1_rad) * np.cos(lat2_rad) * np.cos(AnguloCRAD)
    C = np.clip(C, -1, 1)  # recorta cualquier valor fuera del rango permitido.

    distancia = np.arccos(C) * R

    return distancia

In [ ]:

n = len(estaciones) #longitud de la lista estaciones
letras = [chr(65 + i) for i in range(n)]         #  chr() convierte un numero (codigo ASCII) en su caracter adecuado,   Por ejemplo: chr(65) = A chr(66) = B y recorre en n aumetando 65+0,65+1, etc..
D = np.zeros((n, n)) #Crea una matriz cuadrada de ceros de tamaño n × n , esta matriz sirve para guardar las distancias entre las estaciones
for i in range(n): # recorre todos los índices de las estaciones
    for j in range(n): # representa la estación de destino, la columna de la matriz.
    #para cada estación de origen i, estamos revisando todas las estaciones destino j.
        if i == j: #Si la estacion de origen y destino son la misma (i == j), la distancia es 0 km. llena la diagonal de ceros
            D[i, j] = 0.0
        else:
            lat1, lon1 = estaciones[i][1], estaciones[i][2]  #la latitud de la estacion i y la longitud de la estacion i
            #i = 0 (La Serena) = lat1 = -29.9, lon1 = -71.25
            lat2, lon2 = estaciones[j][1], estaciones[j][2]
            #j = 1 (Dakar) = lat2 = 14.7, lon2 = -17.45
            D[i, j] = distancia(lat1, lon1, lat2, lon2) #llamo a la funcion

df = pd.DataFrame(D, index=letras, columns=letras) #convierto en un dataframe(tabla con la matriz d, filas=LETRAS y columnas= Letras)
pd.set_option("display.precision", 2) #Esto le dice a pandas cuantos decimales mostrar al imprimir números
print("Matriz de distancias (km):\n")
print(df.round(2)) #REDONDEO

Matriz de distancias (km):

          A         B         C         D         E         F
A      0.00   7601.51   8697.38  11942.46   8459.23  11990.13
B   7601.51      0.00   1515.42   4571.98   6631.01  17717.90
C   8697.38   1515.42      0.00   3265.62   7814.08  18585.08
D  11942.46   4571.98   3265.62      0.00   9000.52  15990.78
E   8459.23   6631.01   7814.08   9000.52      0.00  11089.45
F  11990.13  17717.90  18585.08  15990.78  11089.45      0.00

  PUNTO E

CONDICIONES SI CRUZA EL ECUADOR O EL MERIDIANO

SI ES FALSE, NO CRUZA SI ES TRUE, SI CRUZA

In [ ]:

resultados = []
 ######MISMA LOGICA CODIGO ANTERIOR###########
# Recorremos todas las estaciones posibles (origen - destino)
for i in range(n):
    for j in range(n):
        if i != j:
            nom1, lat1, lon1, _ = estaciones[i]  # el _ ignora la altitud  #Desempaqueta la tupla y le asigna valores
            nom2, lat2, lon2, _ = estaciones[j]

            # Llamamos a la funcion distancia
            dist = distancia(lat1, lon1, lat2, lon2)

            # Revisamos si cruza el ecuador (una latitud positiva y la otra negativa)
            cruza_ecuador = (lat1 * lat2) < 0

            # Revisamos si cruza el meridiano de Greenwich (una longitud positiva y la otra negativa)
            cruza_greenwich = (lon1 * lon2) < 0

            # Guardamos los datos en un diccionario
            resultados.append({
                "Origen": nom1,
                "Destino": nom2,
                "Distancia_km": round(dist, 2),
                "Cruza_Ecuador": cruza_ecuador,
                "Cruza_Greenwich": cruza_greenwich
            })

df1 = pd.DataFrame(resultados) #Convertimos la lista de resultados a un DataFrame
pd.set_option("display.precision", 2) # Le decimos a pandas que muestre solo 2 decimales
print("Trayectos entre estaciones:\n")
print(df1)

Trayectos entre estaciones:

                      Origen                   Destino  Distancia_km  \
0           La Serena, Chile            Dakar, Senegal       7601.51
1           La Serena, Chile          Canarias, Espana       8697.38
2           La Serena, Chile          Munich, Alemania      11942.46
3           La Serena, Chile     Sutherland, Sudafrica       8459.23
4           La Serena, Chile  Siding Spring, Australia      11990.13
5             Dakar, Senegal          La Serena, Chile       7601.51
6             Dakar, Senegal          Canarias, Espana       1515.42
7             Dakar, Senegal          Munich, Alemania       4571.98
8             Dakar, Senegal     Sutherland, Sudafrica       6631.01
9             Dakar, Senegal  Siding Spring, Australia      17717.90
10          Canarias, Espana          La Serena, Chile       8697.38
11          Canarias, Espana            Dakar, Senegal       1515.42
12          Canarias, Espana          Munich, Alemania       3265.62
13          Canarias, Espana     Sutherland, Sudafrica       7814.08
14          Canarias, Espana  Siding Spring, Australia      18585.08
15          Munich, Alemania          La Serena, Chile      11942.46
16          Munich, Alemania            Dakar, Senegal       4571.98
17          Munich, Alemania          Canarias, Espana       3265.62
18          Munich, Alemania     Sutherland, Sudafrica       9000.52
19          Munich, Alemania  Siding Spring, Australia      15990.78
20     Sutherland, Sudafrica          La Serena, Chile       8459.23
21     Sutherland, Sudafrica            Dakar, Senegal       6631.01
22     Sutherland, Sudafrica          Canarias, Espana       7814.08
23     Sutherland, Sudafrica          Munich, Alemania       9000.52
24     Sutherland, Sudafrica  Siding Spring, Australia      11089.45
25  Siding Spring, Australia          La Serena, Chile      11990.13
26  Siding Spring, Australia            Dakar, Senegal      17717.90
27  Siding Spring, Australia          Canarias, Espana      18585.08
28  Siding Spring, Australia          Munich, Alemania      15990.78
29  Siding Spring, Australia     Sutherland, Sudafrica      11089.45

    Cruza_Ecuador  Cruza_Greenwich
0            True            False
1            True            False
2            True             True
3           False             True
4           False             True
5            True            False
6           False            False
7           False             True
8            True             True
9            True             True
10           True            False
11          False            False
12          False             True
13           True             True
14           True             True
15           True             True
16          False             True
17          False             True
18           True            False
19           True            False
20          False             True
21           True             True
22           True             True
23           True            False
24          False            False
25          False             True
26           True             True
27           True             True
28           True            False
29          False            False

PUNTO E

TRAYECTORIA MAS LARGA

In [ ]:
df["Distancia_km"]

0      7601.51
1      8697.38
2     11942.46
3      8459.23
4     11990.13
5      7601.51
6      1515.42
7      4571.98
8      6631.01
9     17717.90
10     8697.38
11     1515.42
12     3265.62
13     7814.08
14    18585.08
15    11942.46
16     4571.98
17     3265.62
18     9000.52
19    15990.78
20     8459.23
21     6631.01
22     7814.08
23     9000.52
24    11089.45
25    11990.13
26    17717.90
27    18585.08
28    15990.78
29    11089.45
Name: Distancia_km, dtype: float64

In [ ]:
trayecto_max = df1.loc[df["Distancia_km"].idxmax()]  #idxmax() devuelve la posicion del valor maximo en esa columna.  #tomo mi dataframe df1(desarrollado anteriormente y busco la columna distancia_km)
# .loc[...] toma toda la fila correspondiente a ese trayecto.

In [ ]:
print(" Trayecto mas largo:\n")
print(trayecto_max)

 Trayecto mas largo:

Origen                     Canarias, Espana
Destino            Siding Spring, Australia
Distancia_km                       18585.08
Cruza_Ecuador                          True
Cruza_Greenwich                        True
Name: 14, dtype: object

MAXIMA LATITUD

In [ ]:
# Buscar latitudes de las dos estaciones del trayecto mas largo
origen = trayecto_max["Origen"]
destino = trayecto_max["Destino"]

# Buscar en la lista de estaciones
lat_origen = next(est[1] for est in estaciones if est[0] == origen)  #est[0] es el nombre, est[1] es la latitud, el if filtra solo la estacion cuyo nombre coincide con el origen y toma la latitud de esa estacin
lat_destino = next(est[1] for est in estaciones if est[0] == destino) # next devuelve el primer valor que cumpla la condicion
#lat_origen y lat_destino tiene la latitud de la estacion de origen y destino respectivamente

# Determinar el punto de maxima latitud
if abs(lat_origen) > abs(lat_destino):
    punto_extremo = origen #el punto mas alejado es el origen
    lat_max = lat_origen #para saber la direccion
else:
    punto_extremo = destino #el punto mas alejado es el destino
    lat_max = lat_destino #para saber la direccion

# 4. Determinar si es norte o sur
direccion = "Norte" if lat_max > 0 else "Sur"  #Si la latitud es positiva : Norte, Si es negativa: sur

print(f"El punto de maxima latitud en la trayectoria mas larga es:")
print(f"{punto_extremo} con latitud {lat_max}° hacia {direccion}")

El punto de maxima latitud en la trayectoria mas larga es:
Siding Spring, Australia con latitud -31.27° hacia Sur

PUNTO H

In [ ]:


lat_origen, lon_origen = 28.100, -16.500   # Canarias
lat_destino, lon_destino = -31.275, 149.066  # Siding Spring

# Convertir grados a radianes para trigonometria
lat1 = np.radians(lat_origen)
lon1 = np.radians(lon_origen)
lat2 = np.radians(lat_destino)
lon2 = np.radians(lon_destino)

# Diferencia de longitudes
d_lon = lon2 - lon1

# Rumbo inicial usando formula de triqngulo esferico
y1 = np.cos(lat2) * np.sin(d_lon) # componente este-oeste
x1 = np.cos(lat1)*np.sin(lat2) - np.sin(lat1)*np.cos(lat2)*np.cos(d_lon) # componente norte-sur
alpha1 = np.arctan2(y1, x1)  # en radianes

# Rumbo final usando fórmula inversa
y2 = -np.cos(lat1) * np.sin(d_lon)
x2 = np.cos(lat2)*np.sin(lat1) - np.sin(lat2)*np.cos(lat1)*np.cos(d_lon)
alpha2 = np.arctan2(y2, x2) + np.pi  # sumamos pi para invertir el rumbo

# Convertir a grados y normalizar 0-360 grados,  ## wrap360 convierte cualquier angulo en grados a un valor entre 0 y 360 grados,  atan2 puede devolver angulos negativos
def wrap360(deg):
    d = deg % 360  # toma el residuo al dividir entre 360
    return d if d >= 0 else d + 360  # asegura que el angulo sea positivo

alpha1 = wrap360(np.degrees(alpha1)) # Rumbo inicial en grados
alpha2 = wrap360(np.degrees(alpha2)) # Rumbo final en grados

print(f"Rumbo inicial: {alpha1:.2f}°")
print(f"Rumbo final: {alpha2:.2f}°")

Rumbo inicial: 107.72°
Rumbo final: 79.46°